/* Write your CSS here */
.maindiv {
  height: 100vh;
  background-color: #ffc2a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.innerdiv {
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius:2rem;
}
